{% extends 'base_admin.html.twig' %}

{% block title %}Mes devis{% endblock %}

{% block body %}

    <div id="list-quote-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles" style="width: 50px;">ID</th>
                <th class="titles" style="width: 150px;">Titre</th>
                <th class="titles" style="width: 200px;">Description</th>
                <th class="titles" style="width: 250px;">Type de produit</th>
                <th class="titles" style="width: 150px;">Action</th>
            </tr>

            {% for myQuote in allMyQuotes %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ myQuote.id }}</td>
                    <td>{{ myQuote.title }}</td>
                    <td>{{ myQuote.description }}</td>
                    <td>{{ myQuote.getQuoteCategory.title }}</td>
                    <td>
                        <a href="{{ path('backOfficeQuoteDownload', {'id': myQuote .id}) }}" target="_blank"  title="Download.pdf">
                            <button class="btn btn-primary" type="button"><i class="fas fa-file-download"></i> Télécharger le devis</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
