{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <div class="row">
        {% for quote in allQuotes %}

                <div class="col-md-4 col-md-offset-1" style="margin-bottom: 5px; margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ quote.title }}</h5>
                            <p class="card-text">{{ quote.description }}</p>
                            <a href="#" class="card-link">Buy ({{ quote.price }}€)</a>
                        </div>
                    </div>
                </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}
