{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue chez les moldus ! ✅</h1>
    <div>

    </div>
</div>
{% endblock %}
