{% extends 'base_admin.html.twig' %}

{% block title %}Modification des droits{% endblock %}

{% block body %}

    <div id="edit-rights-user-container">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
