{% extends 'base_admin.html.twig' %}

{% block title %}Droits des utilitsateurs{% endblock %}

{% block body %}

    <div id="list-role-users-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles" style="width: 30px;">ID</th>
                <th class="titles" style="width: 200px;">Nom</th>
                <th class="titles" style="width: 250px;">E-mail</th>
                <th class="titles" style="width: 250px;">Dernière connexion</th>
                <th class="titles">Actions</th>
            </tr>

            {% for user in users %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{  user.email }}</td>
                    <td>{{  user.lastLogin|date("d/m/Y") }}</td>

                    <td>
                        <a href="{{ path('backOfficeManageUserRoleUpdate', {'id': user.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td>
                        <a href="{{ path('backOfficeManageUserRoleUpdate', {'id': user.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
