{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block content %}
    {% for quote in allQuotes %}
        {{ quote.title }}
        {{ quote.description }}
        {{ quote.prix }}
    {% endfor %}
{% endblock %}
