{% extends "base_admin.html.twig" %}
{% block body %}

    <div id="list-products-container" class="container justify-content-center">
        <div class="col-md-12">
            <table>
                <tr>
                    <th>Nom du produit</th>
                    <th>Prix (TTC)</th>
                    <th>Description</th>
                    <th>Type de produit</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                    <th>
                        <a href="{{ path('backOfficeArticleCreate') }}" class="btn btn-primary">Créer un article</a>
                    </th>
                </tr>

                {% for product in products %}
                    <tr>
                        <td class="titles">{{ product.name }}</td>

                        <td class="titles">{{ product.price }} €</td>
                        <td class="titles">{{ product.descriptive|length > 50 ? product.descriptive|slice(0, 50) ~ '...' : descriptive.descriptive  }}</td>
                        <td class="titles">{{ product.getTypeProductId.denominated }}</td>
                        <td class="titles">{{ product.getCreateAt|date('d/m/Y H:i:s') }}</td>

                        <td>
                            <a href="{{ path('backOfficeArticleUpdate', {'id': product.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                        </td>

                        <td>
                            <a href="{{ path('backOfficeArticleDelete', {'id': product.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}