{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}

    {{ form_label(form.stock) }}
    {{ form_widget(form.stock) }}

    {{ form_label(form.descriptive) }}
    {{ form_widget(form.descriptive) }}

    {{ form_label(form.Type_Product_Id) }}
    {{ form_widget(form.Type_Product_Id) }}


    {{ form_end(form) }}
{% endblock %}