{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block title %}Votre profil{% endblock %}
{% block body %}
    <div class="container" style="text-align: center">
       <h1 style="margin-top: 50px;">Votre profil</h1>
        <div class="row">
            <div class="col-sm-6" style="margin-bottom: 5px; margin-top: 5px;">
                <div class="card" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Profil</h5>
                        <p class="card-text">{{ 'profile.show.username'|trans }} : {{ user.username }}</p>
                        <p class="card-text">{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-outline-secondary">Modifier</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="margin-bottom: 350px; margin-top: 5px;">
                <div class="card" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Commande(s)</h5>
                        <p class="card-text">Pas de commande pour le moment</p>
                        <a href="#" class="btn btn-outline-secondary">Tout afficher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}