{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout d'un nouveau commercial{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {% if type == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elseif type == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div id="add-rights-user-container">
        <h1>Création d'un commercial</h1>
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}
