{% extends 'base_admin.html.twig' %}

{% block title %}Liste des commerciaux{% endblock %}

{% block body %}

    <div id="list-commercial-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles" style="width: 125px;">Nom</th>
                <th class="titles" style="width: 250px;">E-mail</th>
                <th class="titles" colspan="2">Actions</th>
                <td>
                    <a href="{{ path('backOfficeCommercialCreate') }}" class="btn btn-primary">Nouveau commercial</a>
                </td>
            </tr>

            {% for commercial in allCommercials %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ commercial.nomCommercial }}</td>
                    <td>{{ commercial.mailCommercial }}</td>

                    <td>
                        <a href="{{ path('backofficeProductUpdate', {'id': commercial.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td>
                        <a href="{{ path('backofficeProductDelete', {'id': commercial.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
