{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}
    <h1>Modification du commercial</h1>
    {{ form_start(form) }}


    {{ form_end(form) }}
{% endblock %}
