{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Demande de devis{% endblock %}

{% block body %}

    <div id="container-form-mail-quote" class="container justify-content-center">
        {{ form_start(form) }}

        <h3>{{ form_label(form.Name) }}</h3>
        {{ form_widget(form.Name) }}

        <h3>{{ form_label(form.Firstname) }}</h3>
        {{ form_widget(form.Firstname) }}

        {{ form_end(form) }}
    </div>

{% endblock %}
