{% extends 'base.html.twig' %}

{% block title %}Meilleurs produits vendus{% endblock %}

{% block body %}

    <div class="container" style="text-align: center">
        <h2 style="margin-top: 50px;">Présentation de nos meilleures ventes</h2>
        <div class="row" style="padding-top: 10px; padding-bottom: 50px;">
            {% for topTen in allTopTen %}
                <div class="col-md-4 col-md-offset-1" style="margin-bottom: 5px; margin-top: 5px">
                    <div class="card" style="max-height:400px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ topTen['name']|length > 25 ? topTen['name']|slice(0, 25) ~ '...' : topTen['name'] }}</h5>
                            <img src="https://placehold.it/250x150"><br><br>
                            <p class="card-text" style="font-weight: bold;">{{ topTen['qty']}} ventes</p>
                            <a href="{{ path('frontOfficeProduct', {'id': topTen['id']}) }}" class="btn btn-secondary">Afficher le produit</a>
                            <a href="{{ path('frontOfficeProduct', {'id': topTen['id']}) }}"><span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;"></span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
