{% extends 'base.html.twig' %}

{% block title %}Zéro Déchet{% endblock %}
{% block body %}
<div class="container card" id="diy-container" style="text-align: justify; padding:30px;">
    <h1 style="text-align: center"> Qu’est-ce que le Zéro Déchet ? </h1>
    <br>
    <P> Le Zéro Déchet est une démarche visant à réduire au maximum notre production de déchets.
        Il s'agit bien de revoir son mode de consommation afin de produire moins de déchets à la source,
        et non pas simplement de mieux intégrer le recyclage dans nos modes de vie.
    </P>
    <p>
        Car en premier lieu, le meilleur déchet, c’est celui qu’on ne produit pas. </p>

    <p>
        Pour réduire nos déchets, le problème doit être pris à la source par les politiques et les industriels
        (revoir les modes de production, l’utilisation de matières premières, les circuits de distribution, etc.).
    </p>

    <p>
        Mais cela peut aussi venir d’une action individuelle.
        Par des actions simples, il est tout à fait possible de réduire la quantité de déchets générés par un foyer et
        de limiter ainsi notre impact sur la planète.
    </p>

    <p> Chacun peut, pour cela, s’aider de quelques règles simples, comme celles des 5 R préconisées par Béa Johnson
        : </p>

    <ul>
        <li> Refuser ce dont on n’a pas besoin (courriers non désirés, babioles ou petits cadeaux gratuits à une foire
            par exemple)
        </li>
        <li>Réduire ce dont on a besoin (meubles, habits…)</li>
        <li>Réutiliser en remplaçant tout produit jetable par un équivalent réutilisable (ceci inclut de faire ses
            courses avec des contenants réutilisables) et en achetant d’occasion.
        </li>
        <li>Recycler ce qu’on ne peut pas refuser, réduire ou réutiliser (il reste donc très peu de matériaux à
            recycler).
        </li>
        <li>Composter le reste (détritus organiques : épluchures de fruits et légumes, mais aussi peluches de
            sèche-linge, ongles et cheveux coupés, balayures, etc).
        </li>
    </ul>

    <p>
        Enfin, comme le rappelle la Famille (presque) Zéro Déchet : En visant le Zéro Déchet, vous touchez logiquement à
        tous les pans de votre vie. Le Zéro Déchet, ce n’est pas seulement une question d’emballages dans votre
        poubelle,
        c’est une occasion de faire un choix de vie et de société.
    </p>

    </div>
{% endblock %}