{% extends 'base.html.twig' %}

{% block title %}{{ article[0].name }}{% endblock %}

{% block body %}
    <div id="view-article-container">
        <h2>{{ article[0].name }}</h2>
        <div>
            <img src="/assets/images/{{ article[0].pictureName }}" alt="Picture" style="height: 150px; width: 150px">
        </div>

        <div style="display: block;">
            <p style="height: 80%;">{{ article[0].content | raw }}</p>
        </div>
        <span>Créé par {{ article[0].getCreateBy.username | raw }}</span>
        <span>le {{ article[0].getCreateAt | date("d/m/Y") }}</span>
    </div>
{% endblock %}
