{% extends 'base.html.twig' %}

{% block title %}Nos articles{% endblock %}

{% block body %}
    <div class="container" id="list-articles-container" style="text-align: center">
        <h2 style="margin-top: 50px;">Présentation de nos articles</h2>
        <div class="row" style="padding-top: 10px; padding-bottom: 50px;">
        {% for article in allArticles %}
            <div class="col-md-4 col-md-offset-1" style="margin-bottom: 5px; margin-top: 5px">
                    <div class="card" style="min-height:380px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.name|length > 25 ? article.name|slice(0, 25) ~ '...' : article.name }}</h5>
                            <img class="card-img-top img-responsive" src="/assets/images/{{article.pictureName}}"><br><br>
                            <p class="card-text">{{ article.content|length > 100 ? article.content|slice(0, 100) ~ '...' : article.content }}</p>
                            <a href="{{ path('frontOfficeArticleBySlug', {'slug': article.slug}) }}" class="btn btn-secondary">Voir l'article</a>
                            <a href="{{ path('frontOfficeArticleBySlug', {'slug': article.slug}) }}"><span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
