{% extends 'base_admin.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h1>Nos Produits</h1>
            </div>
        </div>


        {% for quote in allQuotes %}
            <div class="row" style="padding-top: 10px; padding-bottom: 10px">
                <div class="col-md-3"></div>
                <div class="col-md-9 ">
                    <div class="card">
                        <H3 class="card-title" style="padding-top: 5px">{{ quote.title }}</H3>
                        <p class="card-text">{{ quote.description }}</p>
                        {{ quote.price }}
                        <a class="btn btn-warning"
                           style="align-self: center;width: 30%;margin-bottom: 5px;margin-top: 5px"
                           href="{{ path("backOfficeQuoteUpdate", {"id": quote.id}) }}"><i
                                    class="far fa-edit"></i>Mise à jour</a><br/>
                        <a class="btn btn-danger"
                           style="align-self: center;width: 30%;margin-bottom: 5px;margin-top: 5px"
                           href="{{ path("backOfficeQuoteDelete", {"id": quote.id}) }}"><i
                                    class="far fa-trash-alt"></i>Supprimer</a><br/>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <a class="btn btn-outline-secondary" href="{{ path("backOfficeQuoteCreate") }}">créer un produit</a>
            </div>
        </div>

    </div>
{% endblock %}