{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h1 class="card-title">Création d'un article</h1>
                {{ form_start(form) }}

                <h3 class="card-title">{{ form_label(form.title) }}</h3>
                {{ form_widget(form.title) }}

                <h3 class="card-title">{{ form_label(form.description) }}</h3>
                {{ form_widget(form.description) }}

                <h3 class="card-title">{{ form_label(form.price) }}</h3>
                {{ form_widget(form.price) }}
                <p style="align-self: center;margin-bottom: 10px;margin-top: 10px"> {{ form_widget(form.submit) }}</p>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
