{% extends 'base.html.twig' %}
<div class="container" style="text-align: center">

    <button href="" class="btn btn-outline-secondary" style="float: right">Vos Commandes</button>
    <h2 id="titreForm" style="text-align: left">Votre profil</h2>
    <br>
    <br>
    <form name="profil.php" method="post" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="formGroupExampleInput">Nom</label> <br>
                <input type="text" class="form-control is-valid is-invalid" id="formGroupExampleInput" placeholder="Veuillez saisir votre nom">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <br>
            <div class="form-group col-md-4 ">
                <label for="formGroupExampleInput">Prenom</label> <br>
                <input type="text" class="form-control is-valid is-invalid" id="formGroupExampleInput" placeholder="Veuillez saisir votre prénom">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <div class="form-group col-md-4">
                <label for="start">Date Naissance</label>
                <input type="date" class="form-control is-valid is-invalid" id="start" name="trip-start" placeholder="">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
        </div>
            <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Adresse</label><br>
                <input type="text" class="form-control is-valid is-invalid" id="inputAddress" placeholder="1234 Main St">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <br>
            <div class="form-group col-md-2">
                <label for="inputCP">Code Postal</label><br>
                <input type="number" class="form-control is-valid is-invalid" id="inputCP">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <br>
            <div class="form-group col-md-4">
                <label for="inputCity">Ville</label><br>
                <input type="text" class="form-control is-valid is-invalid" id="inputCity">
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">Particulier</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">Professionnel</label>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Modifier</button>
    </form>
</div>
