{% extends "base_admin.html.twig" %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {% if type == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elseif type == 'success' %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.price) }}
    {{ form_widget(form.price) }}

    {{ form_label(form.stock) }}
    {{ form_widget(form.stock) }}

    {{ form_label(form.descriptive) }}
    {{ form_widget(form.descriptive) }}

    {{ form_label(form.Type_Product_Id) }}
    {{ form_widget(form.Type_Product_Id) }}


    {{ form_end(form) }}
{% endblock %}