{% extends "base_admin.html.twig" %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}

    <div id="list-commandes-container" class="container justify-content-center">
        <table style="width: 100%; margin: auto;">
            <tr style="text-align: center;">
                <th class="titles">N°</th>
                <th class="titles">Paiment</th>
                <th class="titles">Client</th>
                <th class="titles">Création</th>
                <th class="titles">Mise à jour</th>
            </tr>

            {% for commande in commandes %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.getStatustoStr }}</td>
                    <td>{{ commande.getUserId }}</td>
                    <td>{{ commande.getCreateAt|date('d/m/Y') }}</td>
                    <td>{{ commande.getUpdateAt|date('d/m/Y') }}</td>

                    <td style="width: 110px;">
                        <a href="{{ path("backofficeCommandeUpdate", {"id": commande.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td style="width: 80px;">
                        <a href="{{ path("backofficeCommandeLineView", {"id": commande.id}) }}" class="btn btn-success"><i class="far fa-eye"></i> Voir</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}