{% extends "base_admin.html.twig" %}
{% block title %}Modification d'une commande{% endblock %}
{% block body %}
    <div class="justify-content-center" style="margin-top: 50px;">
    {{ form_start(form, {'attr': {'id':'update-orders-form'}}) }}

    {{ form_end(form) }}
    </div>
{% endblock %}