{% extends "base_admin.html.twig" %}
{% block title %}Creation type produit{% endblock %}
{% block body %}

    <div class="container" style="text-align: center; margin-top: 50px;">
        <div class="row">
            <div class="col-md-9">
                <h1>Créer un type de produit</h1>
            </div>
        </div>

        <div class="row" style="padding-top: 10px">
            <div class="col-md-9 ">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <h5 class="card-title" style="padding-top: 5px">{{ form_label(form.denominated) }}</h5>
                        {{ form_widget(form.denominated) }}

                        <h5 class="card-title" style="padding-top: 5px"> {{ form_label(form.description) }}</h5>
                        {{ form_widget(form.description) }}

                        <p style="align-self: center;margin-bottom: 10px;margin-top: 10px">  {{ form_widget(form.submit) }}</p>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}