{% extends "base_admin.html.twig" %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div id="list-product-type-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles">Nom de la catégorie</th>
                <th class="titles">Description</th>
                <th colspan="2">
                    <a href="{{ path('backofficeProductTypeCreate') }}" class="btn btn-primary">Ajouter une catégorie</a>
                </th>
            </tr>

            {% for productType in productTypes %}
                <tr style="font-size: 14px; text-align: center">
                    <td style="width: 185px;">{{ productType.denominated }}</td>
                    <td style="width: 350px;">{{ productType.description|length > 50 ? productType.description|slice(0, 50) ~ '...' : productType.description   }}</td>
                    <td>
                        <a href="{{ path('backofficeProductTypeUpdate', {'id': productType.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td>
                        <a href="{{ path('backofficeProductTypeDelete', {'id': productType.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>



{% endblock %}