{% extends 'base_admin.html.twig' %}

{% block title %}Accueil administration{% endblock %}

{% block body %}

    <!-- Colonne du milieu -->
{#    <div class="col-md-4">#}
{#        <div class="align-self-center">#}
{#            <h1> Bienvenue chez les admins ! ✅</h1>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
