{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 200px;">
        <h1>Inscription</h1>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                {% if type == 'error' %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% elseif type == 'success' %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    <br>
        <div class="col-md-12" style="margin-bottom: 5px; margin-top: 5px">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
                    {{ form_errors(form) }}
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5 class="card-title">{{ form_label(form.username) }}<h5>
                                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.username, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-8">
                            <h5 class="card-title">{{ form_label(form.email) }}</h5>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h5 class="card-title">{{ form_label(form.plainPassword.first) }}</h5>
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.first, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-6">
                            <h5 class="card-title">{{ form_label(form.plainPassword.second) }}</h5>
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.plainPassword.second, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5 class="card-title">{{ form_label(form.name) }}</h5>
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-4">
                            <h5 class="card-title">{{ form_label(form.firstname) }}</h5>
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.firstname, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-4">
                            <h5 class="card-title">{{ form_label(form.birthday) }}</h5>
                            <div> {{ form_widget(form.birthday) }}</div>
                            {{ form_errors(form.birthday, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h5 class="card-title">{{ form_label(form.address) }}</h5>
                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.address, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-2">
                            <h5 class="card-title">{{ form_label(form.zip_code) }}</h5>
                            {{ form_widget(form.zip_code, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.zip_code, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                        <div class="form-group col-md-4">
                            <h5 class="card-title">{{ form_label(form.city) }}</h5>
                            {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.city, {'attr': {'class': 'invalid-feedback'}}) }}
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-outline-secondary"
                               value="{{ 'registration.submit'|trans }}"/>
                    </div>
                    {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
