{% extends "base_admin.html.twig" %}
{% block body %}

    <div id="list-products-container" class="container justify-content-center">
        
            <table>
                <tr>
                    <th class="titles">Ligne Commande</th>
                    <th class="titles">Numéro de commande</th>
                    <th class="titles">Produit</th>
                    <th class="titles">quantité commander</th>
                    <th class="titles">Date de création</th>
                    <th class="titles">Date de mise a jour</th>
                
                </tr>

                {% for commandeLine in commandeLines %}
                    <tr>
                        <td>{{ commandeLine.id }}</td>
                        <td>{{ commandeLine.getCommandeId.Id }}</td>
                        <td>{{ commandeLine.getProductId.Id }}</td>
                        <td>{{ commandeLine.quantity }}</td>
                        <td>{{ commandeLine.getCreateAt|date('d/m/Y') }}</td>
                        <td>{{ commandeLine.getUpdateAt|date('d/m/Y') }}</td>

                        <td>
                            <a href="{{ path("backofficeCommandeLineUpdate", {"id": commandeLine.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                        </td>

                        <td>
                            <a href="{{ path("backofficeCommandeLineDelete", {"id": commandeLine.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        
    </div>

{% endblock %}