{% extends "base_admin.html.twig" %}

{% block title %}Détails de la commande{% endblock %}

{% block body %}

    <div id="list-commandes-container" class="container justify-content-center">
        <table style="width: 100%; margin: auto;">
            <tr style="text-align: center;">
                <th class="titles">N°</th>
                <th class="titles">Produit</th>
                <th class="titles">Quantité</th>
                <th class="titles">Création</th>
                <th class="titles">Mise à jour</th>
            </tr>

            {% for commandeLine in commandeLines %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ commandeLine.id }}</td>
                    <td>{{ commandeLine.getProductId.name }}</td>
                    <td>{{ commandeLine.quantity }}</td>
                    <td>{{ commandeLine.getCreateAt|date('d/m/Y') }}</td>
                    <td>{{ commandeLine.getUpdateAt|date('d/m/Y') }}</td>
                    <td><a href="{{ path("frontOfficeProduct", {"id": commandeLine.id}) }}" class="btn btn-success"><i class="far fa-eye"></i> Voir</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}