#page-content {
    margin: auto;
    margin-left: 17rem;
}

body{
    background-image: url("../images/farmer.png");
}

#create-article-form-container {
    width: 50%;
    margin: 50px auto auto;
}


.card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/*
 * Page admin Catalogue des produits
 */
#createArticle_content {
    max-height: 250px;
}

#list-articles-container {
    margin: 5% auto 100px;
}

#edit-article-container {
    width: 45%;
    margin: 50px auto auto;
}

#list-users-container {
    width: 65%;
    margin: 50px auto auto;
}

#list-quote-container {
    width: 45%;
    margin: 50px auto auto;
}

#diy-container {
    width: 45%;
    margin: 50px auto 100px;
}

#container-form-mail-quote {
    width: 45%;
    margin: 50px auto auto;
}

#view-article-container {
    width: 45%;
    margin: 50px auto 100px;
    min-height: 550px;
}

#create-product-form {
    width: 50%;
    margin: 50px auto auto;
}

#update-product-form {
    width: 50%;
    margin: 50px auto auto;
}

#list-role-users-container {
    width: 50%;
    margin: 50px auto auto;
}

#list-product-type-container {
    width: 50%;
    margin: 50px auto auto;
}

/*
 * Page admin Catalogue des produits
 */
#list-products-container {
    margin-top: 5%;
}

#list-commandes-container {
    margin: 5% auto 100px;
}

#update-orders-form {
    margin: auto auto 100px;
    width: 50%;
}

#form-container-contact {
    width: 50%;
    margin: 50px auto 100px;
}

#list-commercial-container {
    width: 50%;
    margin: 50px auto 100px;
}

#add-rights-user-container {
    width: 50%;
    margin: 50px auto 100px;
}
#edit-rights-user-container {
    width: 50%;
    margin: 50px auto 100px;
}

/********************************************/
/**************** NAVBAR ADMIN **************/
/********************************************/
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: fixed;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 1410px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 1410px) {

    #page-content {
        margin-left: 0;
    }
}

.nav-item-admin:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-item-admin.active {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu-items-admin {
    margin-top: 75px;
}

/********************************************/
/************** FIN NAVBAR ADMIN ************/
/********************************************/


/********************************************/
/************* NAVBAR VISITEUR **************/
/********************************************/


/********************************************/
/*********** FIN NAVBAR VISITEUR ************/
/********************************************/


/********************************************/
/******************* FOOTER *****************/
/********************************************/
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width: 991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

tr:nth-child(even) {background: #ededed}
tr:nth-child(odd) {background: #FFF}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/********************************************/
/***************** FIN FOOTER ***************/
/********************************************/