{% extends "base_admin.html.twig" %}

{% block title %}Catalogue des produits{% endblock %}

{% block body %}

    <div id="list-products-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles" style="width:auto; min-width:50px;">ID</th>
                <th class="titles" style="width:200px;">Nom</th>
                <th class="titles" style="width:150px;">Prix (TTC)</th>
                <th class="titles" style="width:350px;">Description</th>
                <th class="titles">Catégorie</th>
                <th class="titles" style="width: 200px;">Date de création</th>
                <th class="titles" colspan="3">Actions</th>
                <th>
                    <a href="{{ path('backofficeProductCreate') }}" class="btn btn-primary">Ajouter un produit</a>
                </th>
            </tr>

            {% for product in products %}
                <tr style="font-size: 14px; text-align: center;">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }} €</td>
                    <td>{{ product.descriptive|length > 50 ? product.descriptive|slice(0, 50) ~ '...' : product.descriptive  }}</td>
                    <td>{{ product.getTypeProductId.denominated }}</td>
                    <td>{{ product.getCreateAt|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('backofficeProductUpdate', {'id': product.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td>
                        <a href="{{ path('backofficeProductDelete', {'id': product.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                    </td>
                    <td>
                        <a href="{{ path('frontOfficeProduct', {'id': product.id}) }}" class="btn btn-success"><i class="fas fa-eye"></i> Voir</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}