{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <div class="container" style="text-align: center; margin-bottom: 100px;">
        <h2 style="margin-top: 50px;">Présentation de nos produits</h2>
        <div class="row" style="padding-top: 10px">
        {% for product in allProductCatalog %}
            <div class="col-md-4 col-md-offset-1" style="margin-bottom: 5px; margin-top: 5px">
                <div class="card" style="height: 480px;">
                <img class="card-img-top img-responsive" src="/assets/images/{{product.pictureName}}"><br><br>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }} <small class="card-text" style=" color:{{ product.stock > 0 ? 'green' : 'red' }}; ">{{ product.stock > 0 ? 'En stock' : 'En rupture' }}</small></h5>
                        <p class="card-text">{{ product.descriptive|length > 50 ? product.descriptive|slice(0, 50) ~ '...' : product.descriptive }}</p>
                        <span style="position:relative; width:100%; height:60%; top:0; left: 0; z-index:2;"><a href="{{ path('frontOfficeAddCard', {'id':  product.id , 'qty': 1 } )}}" class="btn btn-primary" style="z-index: 1;"><i class="fas fa-cart-plus"></i> Ajouter - {{ product.price }} €</a></span>
                        <br>
                        
                         <a href="{{ path('frontOfficeProduct', {'id': product.id}) }}"><span style="position:absolute; width:100%; height:60%; top:0; left: 0; z-index:1;"></span></a>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>
    </div>

{% endblock %}
