{% extends 'base.html.twig' %}

{% block title %}Produit {{ products.name }} {% endblock %}

{% block body %}
<div class="container" style="text-align: center; margin-top: 50px; margin-bottom: 100px;">
    <h1>{{ products.name }}<small class="card-text" style=" color:{{ products.stock > 0 ? 'green' : 'red' }}; ">{{ products.stock > 0 ? ' En stock' : ' En rupture' }}</small></h1><br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <img class="card-img-top img-responsive" src="/assets/images/{{products.pictureName}}"" width="700px" height="450px;"><br><br>
                <p class="card-text">{{ products.descriptive }}</p>
                <div class="align-self-end">
                   <a href="{{ path('frontOfficeAddCard', {'id':  products.id , 'qty': 1 } )}}" class="btn btn-primary" style="z-index: 1;"><i class="fas fa-cart-plus"></i> Ajouter - {{ products.price }} €</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
