{% extends 'base.html.twig' %}
<div class="container" style="text-align: center">

    <H2 id="titreForm">Formulaire de connexion</H2>
    <br>

    <form name="connexion.php" method="post">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Votre identifiant</label> <br>
                <input type="text" class="form-control" id="formGroupExampleInput"
                       placeholder="Veuillez saisir votre identifiant">
            </div>
            <br>
            <br>
            <div class="form-group col-md-6">
                <label for="exampleInputPassword1">Votre mot de passe</label> <br>
                <input type="password" class="form-control is-valid is-invalid" id="exampleInputPassword1" placeholder="mot de passe">
            </div>
        </div>

        <button type="submit" class="btn btn-outline-secondary">Se connecter</button>
    </form>


</div>
</body>
</html>