<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Incription</title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>

<body>

<!--{% extends 'base.html.twig' %} -->
<div class="container" style="text-align: center">

    <H2 id="titreForm">Formulaire d'inscription</H2>
    <br>
    <br>

    <form name="inscription.php" method="post" class="needs-validation" novalidate>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Nom</label> <br>
                <input type="text" class="form-control is-valid is-invalid" id="formGroupExampleInput"
                       placeholder="Veuillez saisir votre nom">

            </div>
            <br>
            <div class="form-group col-md-6">
                <label for="formGroupExampleInput">Prenom</label> <br>
                <input type="text" class="form-control is-valid is-invalid" id="formGroupExampleInput"
                       placeholder="Veuillez saisir votre prenom">

            </div>
            <br>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="InputEmail">Adresse mail</label> <br>
                <input type="email" class="form-control is-valid is-invalid" id="InputEmail"
                       placeholder="Entrer votre email">

            </div>
            <div class="form-group col-md-4">
                <label for="start">Date Naissance</label>

                <input type="date" class="form-control is-valid is-invalid" id="start" name="trip-start"
                       placeholder="">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="InputPassword">Votre mot de passe</label> <br>
                <input type="password" class="form-control is-valid is-invalid" id="InputPassword"
                       placeholder="Password" aria-describedby="passwordHelpInline">
                <small id="passwordHelpInline" class="text-muted">
                    Doit contenir de 2 &agrave; 255 caract&egrave;res.
                </small>

            </div>
            <br>
            <div class="form-group col-md-6">
                <label for="InputPasswordConfirm">Confirmation mot de passe</label> <br>
                <input type="password" class="form-control is-valid is-invalid" id="InputPasswordConfirm"
                       placeholder="Password">

            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Adresse</label><br>
                <input type="text" class="form-control is-valid is-invalid" id="inputAddress"
                       placeholder="1234 Main St">

            </div>
            <br>
            <div class="form-group col-md-2">
                <label for="inputCP">Code Postal</label><br>
                <input type="number" class="form-control is-valid is-invalid" id="inputCP">

            </div>
            <br>
            <div class="form-group col-md-4">
                <label for="inputCity">Ville</label><br>
                <input type="text" class="form-control is-valid is-invalid" id="inputCity">

            </div>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">Particulier</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">Professionnel</label>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-outline-secondary">Inscription</button>

    </form>


</div>
</body>
</html>