{% extends 'base.html.twig' %}



{% block body %}

            <div class="container" style="text-align: center; margin-bottom: 100px;">
        <h2 style="margin-top: 50px;">Présentation de nos services</h2>
        <div class="row" style="padding-top: 10px">
        {% for service in allServices %}
            <div class="col-md-4 col-md-offset-1" style="margin-bottom: 5px; margin-top: 5px">
                <div class="card" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.title }}</h5>
                        <p class="card-text">{{ service.description|length > 50 ? service.description|slice(0, 50) ~ '...' : service.description}}</p>
                        <span style="position:relative; width:100%; height:60%; top:0; left: 0; z-index:2;"><a href="" class="btn btn-primary" style="z-index: 1;"><i class="fas fa-cart-plus"></i> Ajouter - {{ service.prix }} €</a></span>
                        <br>
                        

                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
