{% extends 'base_admin.html.twig' %}

{% block title %}Les services{% endblock %}

{% block body %}
  <div id="list-services-container" class="container justify-content-center">
        <table style="width: 100%; margin: auto;">
            <tr style="text-align: center;">
                <th class="titles">Nom</th>
                <th class="titles">Description</th>
                <th class="titles">Prix</th>
                <th>  <a class="btn btn-outline-secondary" href="{{ path('backOfficeServiceCreate') }}"><i
                            class="fas fa-plus"></i> Créer</a></th>

            </tr>

            {% for service in allServices %}
                <tr style="font-size: 14px; text-align: center">

                    <td>{{ service.title }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.prix }}</td>
                    <td style="width: 110px;">
                        <a href="{{ path("backOfficeServiceUpdate", {"id": service.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                    </td>

                    <td style="width: 120px;">
                        <a href="{{ path("backOfficeServiceDelete", {"id": service.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
        {% endfor %}


    </div>
{% endblock %}
