{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification {% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h1>Modification du service</h1>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-3"></div>
            <div class="col-md-9 ">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}

                        <h5 class="card-title" style="padding-top: 5px"> {{ form_label(form.title) }}</h5>
                        {{ form_widget(form.title) }}
                        <p style="align-self: center;margin-bottom: 10px;margin-top: 10px"> {{ form_widget(form.submit) }}</p>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
