{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ecoService !{% endblock %}

{% block body %}
    <div class="container" style="text-align: center">
        <div class="row" style="margin-top: 20px;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://placehold.it/1200x500" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://placehold.it/1200x500" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://placehold.it/1200x500" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="row" style="padding-top: 50px; margin-bottom: 150px;">
            {% for product in allProductCatalog %}
                <div class="col-md-4 col-md-offset-1" style="display:block; margin-bottom: 5px; margin-top: 5px">
                    <div class="card" style="height: 400px; background-color: #fafafa; position: relative;">
                        <div class="card-body text-center" style="position: relative;">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <img src="/assets/images/{{product.pictureName}}" class="card-img-top img-responsive"><br><br>
                            <p class="card-text">{{ product.descriptive|length > 100 ? product.descriptive|slice(0, 100) ~ '...' : product.descriptive }}</p>
                            <br>
                            <p class="product-price" style="font-size: 28px; width: 100px; position: absolute; left: 50%; margin-left: -50px; bottom:0; margin-top: 20px;">{{ product.price }} €</p>
                            <a href="{{ path('frontOfficeProduct', {'id': product.id}) }}"><span style="position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;"></span></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
