{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                            <div>
                                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                                <input type="text" class="form-control" id="username" name="username" required="required" />
                            </div>
                        </br>
                            <div>
                                <input type="submit" class="btn btn-outline-secondary" value="{{ 'resetting.request.submit'|trans }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}