<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Administration - EcoService{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <header>
        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="border-right bg-light" id="sidebar-wrapper" style="background-color: white!important;">
                <div class="list-group list-group-flush">
                    <ul class="nav flex-column bg-white mb-0" id="menu-items-admin">

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeManage' ? 'active' }}">
                            <a href="{{ path('backOfficeManage') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-home  mr-3 text-primary fa-fw"></i>
                                Accueil
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item-admin {{ app.request.get('_route') == 'backofficeUserView' ? 'active' }}">
                            <a href="{{ path('backofficeUserView') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-users mr-3 text-primary fa-fw"></i>
                                Clients
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backofficeProduct' ? 'active' }}">
                            <a href="{{ path('backofficeProduct') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-shopping-bag  mr-3 text-primary fa-fw"></i>
                                Catalogue de produits
                            </a>
                        </li>
                        
                        <li class="nav-item-admin {{ app.request.get('_route') == 'backofficeProduct' ? 'active' }}">
                            <a href="{{ path('backOfficeService') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-concierge-bell mr-3 text-primary fa-fw"></i>
                                Catalogue des services
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeArticle' ? 'active' }}">
                            <a href="{{ path('backOfficeArticle') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-blog mr-3 text-primary fa-fw"></i>
                                Catalogue d'articles
                            </a>
                        </li>

                            <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeCommercial' ? 'active' }}">
                                <a href="{{ path('backOfficeCommercial') }}" class="nav-link text-dark font-italic">
                                    <i class="fas fa-dollar-sign mr-3 text-primary fa-fw"></i>
                                    Commerciaux
                                </a>
                            </li>

                            <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeManageUser' ? 'active' }}">
                                <a href="{{ path('backOfficeManageUser') }}" class="nav-link text-dark font-italic">
                                    <i class="fas fa-user-lock mr-3 text-primary fa-fw"></i>
                                    Ajout des droits
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backofficeCommande' ? 'active' }}">
                            <a href="{{ path('backofficeCommande') }}" class="nav-link text-dark font-italic">
                                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                                Commandes
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backofficeProductType' ? 'active' }}">
                            <a href="{{ path('backofficeProductType') }}" class="nav-link text-dark font-italic">
                                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                                Catégories
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeQuoteMail' ? 'active' }}">
                            <a href="{{ path('backOfficeQuoteMail') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-bullhorn mr-3 text-primary fa-fw"></i>
                                Demande de devis
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'backOfficeMyQuote' ? 'active' }}">
                            <a href="{{ path('backOfficeMyQuote') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-bullhorn mr-3 text-primary fa-fw"></i>
                                Mes devis
                            </a>
                        </li>

                        <li class="nav-item-admin {{ app.request.get('_route') == 'frontOfficeIndex' ? 'active' }}">
                            <a href="{{ path('frontOfficeIndex') }}" class="nav-link text-dark font-italic">
                                <i class="fas fa-door-open mr-3 text-primary fa-fw"></i>
                                Vers le site
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /#sidebar-wrapper -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="width: 100%">
                <button class="btn btn-primary" id="menu-toggle" type="button" data-toggle="collapse"  data-target="#sidebar-wrapper" aria-expanded="true" aria-label="Toggle navigation">Menu</button>

            </nav>

        </div>
        <!-- /#wrapper -->
    </header>

    <body>
        <div id="page-content">
            {% block body %}

            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/fontawesome.min.js') }}"></script>
            <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
            <script>
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
            </script>
        {% endblock %}

    </body>
</html>
