<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}eco Service{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/sweetalert2.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}
    </head>

    <header id="visitor-header" >
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #02ba79">
            <a class="navbar-brand" href="{{ path('frontOfficeIndex') }}">Eco Service</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {{ app.request.get('_route') == 'frontOfficeIndex' ? 'active' }}">
                        <a class="nav-link" href="{{ path('frontOfficeIndex') }}" data-abc="true"><i class="fas fa-home"></i> Accueil</a>
                    </li>

                    <li class=" nav-item  dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-shopping-bag"></i> Produits
                        </a>
                        <ul class="dropdown-menu clearfix" aria-labelledby="dropdownMenu1">
                            <li><a class="dropdown-item" href="{{ path('frontOfficeProductCatalog') }}">Produit</a></li>
                            <li><a class="dropdown-item" href="{{ path('frontOfficeTopTen') }}">Top 10 des ventes</a></li>
                        </ul>
                    </li>

                    <li class=" nav-item  dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-newspaper"></i> Articles
                        </a>
                        <ul class="dropdown-menu clearfix" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" href="{{ path('frontOfficeZeroDechet') }}">Zero dechet</a></li>
                            <li><a class="dropdown-item" href="{{ path('frontOfficeArticle') }}">Tous DIY</a></li>
                        </ul>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('backOfficeManage') }}" data-abc="true"><i class="fas fa-sign-out-alt"></i> Administration</a>
                        </li>
                    {% endif %}

                    {% if not app.user %}
                        <li class="nav-item {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' }} {{ app.request.get('_route') == 'fos_user_security_register' ? 'active' }}">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> Connexion | Inscription</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'fos_user_profile_show' ? 'active' }}" href="{{ path('fos_user_profile_show') }}" data-abc="true">
                                <i class="fas fa-user-cog"></i> Profil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}" data-abc="true"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                        </li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="{{ path('frontOfficeContact') }}" data-abc="true">
                            <i class="far fa-address-card"></i> Contact</a>
                    </li>

                </ul>
                <ul class="navbar-nav mr">
                    <li class="nav-item"><a class="nav-link" href="{{ path('frontOfficeCart') }}" data-abc="true">
                        <i class="fas fa-cart-arrow-down"></i> Panier</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <body>
        {% block body %}

        {% endblock %}
    </body>

    <!-- Site footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>À propos</h6>
                    <p class="text-justify">EcoService - Spécialiste dans le recyclage (appareils électriques et électroniques usagés, outils
                        industrielles, déchets organiques…) depuis 20 ans. Nous proposons à présent aux particuliers des produits écoresponsable jusqu’au zéro
                        déchet.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Produits</h6>
                    <ul class="footer-links">
                        <li><a href="{{ path('frontOfficeProductCatalog') }}">Bio</a></li>
                        <li><a href="{{ path('frontOfficeProductCatalog') }}">Éco-responsable</a></li>
                        <li><a href="{{ path('frontOfficeArticle') }}">DIY</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Liens rapides</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/contact/">Nous contacter</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Politique de confidentialité</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 Tous les droits réservés par
                        <a href="{{ path('frontOfficeIndex') }}">EcoService</a>.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/fontawesome.min.js') }}"></script>
        <script src="{{ asset('assets/js/sweetalert2.all.min.js') }}"></script>
    {% endblock %}

</html>
