{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

   

    <div class="container" style="text-align: center">
        <div class="row" style="padding-top: 10px">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
                    {% for item in card.produit %}
					<tbody>
						<tr>
                        
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="">{{ card['name'][loop.index0] }}</h4>
									</div>
								</div>
							</td>
							<td data-th="Price">{{ card['price'][loop.index0] }} €</td>
							<td data-th="Quantity">
								<input id="valueOf{{ card['produit'][loop.index0] }}" type="number" class="form-control text-center" value="{{ card['qty'][loop.index0] }}">
							</td>
							<td data-th="Subtotal" class="text-center">{{ card['total'][loop.index0] }} €</td>
							<td class="actions" data-th="">
                                <form  id="refresh{{ card['produit'][loop.index0] }}" action="">
								<button type="submit" onclick="getRefresh({{ card['produit'][loop.index0] }})" class="btn btn-info btn-sm"><i class="fas fa-sync-alt"></i></button>
								<a href ="{{ path('frontOfficeDeleteCard', {'id': card['produit'][loop.index0] } )}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>			
                                </form>					
							</td>
						</tr>
					</tbody>
                    {% endfor %} 
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>{{card['totalOrder'][0]}} €</strong></td>
						</tr>
						<tr>
							<td><a href="{{ path('frontOfficeIndex')}}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Accueil </a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong> </strong></td>
							{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
								<td><a href="/insert" class="btn btn-success btn-block"> Payez <i class="fa fa-angle-right"></i></a></td>
								{% else %}
									<td><a href="{{ path("fos_user_security_login") }}" class="btn btn-success btn-block"> Payez <i class="fa fa-angle-right"></i></a></td>
							{% endif %}
						</tr>
					</tfoot>
				</table>  
        </div>
    </div>
    <script>
    function getRefresh(id) {
  
         $("#refresh" + id).attr("action", location.origin +'/update/' + id + "/" + $("#valueOf" + id).val() )
        
        // $("#titleModal").text( 'Etes vous sûr de vouloir supprimer " '  + name + ' " ?' )
    };



    </script>

{% endblock %}
