{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}
{% block body %}
    <div class="container" style="text-align: center; margin-top: 50px;">

        <h2 id="titreForm">Connexion</h2>
        <div class="col-md-12" style="margin-bottom: 5px; margin-top: 5px; min-height: 538px;">
            <div class="card" style="margin-bottom: 229px;">
                <div class="card-body">

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        {% endif %}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="card-title" for="username">{{ 'security.login.username'|trans }}</label>
                                <br>
                                <input type="text" class="form-control" id="username" value="{{ last_username }}" name="_username" placeholder="Identifiant" required="true" autocomplete="username">
                            </div>
                            <br>
                            <br>
                            <div class="form-group col-md-6">
                                <label class="card-title" for="password">{{ 'security.login.password'|trans }}</label>
                                <br>
                                <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe" required="true" autocomplete="current-password">
                            </div>
                        </div>
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a><br>
                        <br>
                        <button type="submit" class="btn btn-outline-secondary">{{ 'security.login.submit'|trans }} </button>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline-secondary">Inscription</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}