{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Création d'article{% endblock %}

{% block body %}

    <div id="create-article-form-container">
        <h1>Création d'un article</h1>
        {{ form_start(form) }}

        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
