{% extends 'base_admin.html.twig' %}

{% block title %}Catalogue des articles{% endblock %}

{% block body %}
    <div id="list-articles-container" class="container justify-content-center">
        <div class="col-md-12">
            <table>
                <tr style="text-align: center;">
                    <th>ID</th>
                    <th>Nom de l'article</th>
                    <th style="width: 350px;">Description de l'article</th>
                    <th>Date de création</th>
                    <th>Auteur</th>
                    <th>Actions</th>
                    <th>
                        <a href="{{ path('backOfficeArticleCreate') }}" class="btn btn-primary">Créer un article</a>
                    </th>
                </tr>

                {% for article in allArticles %}
                    <tr style="font-size: 14px; text-align: center;">
                        <td class="titles">{{ article.id }}</td>
                        <td class="titles">{{ article.name }}</td>

                        <td class="titles">
                            {{ article.content|length > 50 ? article.content|striptags|slice(0, 50) ~ '...' : article.content|raw }}
                        </td>

                        <td class="titles">
                            {{ article.getCreateAt|date('d/m/Y') }}
                        </td>

                        <td class="titles" style="width: 116px;">
                            {{ article.getCreateBy.username }}
                        </td>

                        <td>
                            <a href="{{ path('backOfficeArticleUpdate', {'id': article.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>
                        </td>

                        <td>
                            <a href="{{ path('backOfficeArticleDelete', {'id': article.id}) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Supprimer</a>
                        </td>
                        <td>
                            <a href="{{ path('frontOfficeArticleBySlug', {'slug': article.slug}) }}" class="btn btn-success"><i class="fas fa-eye"></i> Voir</a>
                        </td>

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}
