{% extends 'base_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modification d'un article{% endblock %}

{% block body %}
    <div id="edit-article-container">
        <h1>Modification de l'article</h1>
        {{ form_start(form) }}

        {{ form_row(form.name, {'attr': {'placeholder':'Contenu de l\'article' }} ) }}
        {{ form_row(form.content, {'attr': {'placeholder':'Nom de l\'article' }} ) }}

        {{ form_end(form) }}
    </div>

{% endblock %}
