{% extends 'base_admin.html.twig' %}

{% block body %}

    <div id="list-users-container" class="container justify-content-center">
        <table>
            <tr style="text-align: center;">
                <th class="titles" style="width: 30px;">ID</th>
                <th class="titles" style="width: 100px;">Nom</th>
                <th class="titles" style="width: 100px;">Firstname</th>
                <th class="titles" style="width: 150px;">Anniversaire</th>
                <th class="titles" style="width: 250px;">E-mail</th>
                <th class="titles" style="width: 450px;">Adresse</th>
                <th class="titles" style="width: 150px;">Ville</th>
                <th class="titles" style="width: 150px;">Code postal</th>
                <th class="titles" style="width: 250px;">Rôle principal</th>
            </tr>

            {% for user in users %}
                <tr style="font-size: 14px; text-align: center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.birthday|date('d/m/Y') }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.getZipCode() }}</td>
                    <td>{{ user.roles[0]|replace({'ROLE_': ''})}}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}